.movieRow {
    margin-bottom: 30px;
}
.movieRow h2{
    font-size: 18px;
    margin: 0 0 10px 30px;
}
.movieRow--listarea{
    overflow-x: hidden;
    padding-left: 25px;
}
.movieRow--list{
    transition: all ease 0.1s;
}
.movieRow--item{
    display: inline-block;
    width: 230px;
}
.movieRow--item img{
    width: 100%;
    transform: scale(0.96);
    transition: all ease 0.3s;
    border-radius: 5px;
}
.movieRow--item img:hover {
    transform: scale(1.015);
    cursor: pointer;
}

.movieRow--left, 
.movieRow--right {
    position: absolute;
    width: 37px;
    height: 129px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.movieRow--left:hover, 
.movieRow--right:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.movieRow--left {
    left:0;
}
.movieRow--right {
    right:0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right{
    opacity: 1;
}