.movieRow {
    margin-bottom: 30px;
}
.movieRow h2{
    font-size: 18px;
    margin: 0 0 10px 30px;
}
.movieRow--listarea{
    overflow-x: hidden;
    padding-left: 25px;
}
.movieRow--list{
    width: 99999999999px;
}
.movieRow--item{
    display: inline-block;
    width: 230px;
}
.movieRow--item img{
    width: 100%;
    transform: scale(0.96);
    transition: all ease 0.3s;
    border-radius: 5px;
}
.movieRow--item img:hover {
    transform: scale(1.015);
    cursor: pointer;
}